<html>
 <head>
   <title>
      {% block title %}Control Escolar{% endblock %}
   </title>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/estilos2.css">
   <link href="css/simple-sidebar.css" rel="stylesheet">
   <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   <!-- <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
   <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script> -->
   <script src="js/jquery.js"></script>
   <script src="js/jquery-ui.js"></script>
   <link rel="stylesheet" href="css/bootstrap-theme.min.css">
   <link rel="stylesheet" href="js/jquery-ui.css">
  <script src="js/Chart.js"></script>
   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
   <script>
     $(function() {
       $( "#datepicker" ).datepicker();
     });
     $(function() {
       $( "#datepicker2" ).datepicker();
     });
   </script>
   <style media="screen">
   .container{
     background-color: white;
   }
    .fila{
        margin-top:40px;
        padding: 0 10px;
    }

    .clickable{
        cursor: pointer;
    }

    .panel-heading span {
    	margin-top: -20px;
    	font-size: 15px;
    }

   </style>
 </head>

 <body>

   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/principal">CEATyP</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% block navigation %}
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/control">Control Financiero</a></li>
          <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proyectos<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/proy">Agregar Proyecto</a></li>
            <li><a href="#">Ver Proyectos Activos</a></li>
          </ul>
        </li> -->
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tareas<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/tarea">Agregar Tarea</a></li>
            <li><a href="/tareasv">Ver Tareas</a></li>
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{correo}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/perfil"> Perfil</a></li>
            <li><a href="/calendar"> Calendario</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout" aria-hidden="true">  Salir</a></li>
          </ul>
        </li>
      </ul>
      {% endblock %}

    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->

</nav>

<div class="nav-side-menu">
    <div class="brand">Control Financiero</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="/cuentaa">
                  <i class="fa fa-money fa-lg"></i> Agregar Cuenta
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#ingresos" class="collapsed">
                  <a href="#"><i class="fa fa-arrow-down fa-lg"></i> Ingresos <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="ingresos">
                    <li><a href="/ingreso">Agregar Ingreso</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#egreso" class="collapsed">
                  <a href="#"><i class="fa fa-arrow-up fa-lg"></i> Egresos <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="egreso">
                  <li><a href="/egreso">Agregar Egreso</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#informes" class="collapsed">
                  <a href="#"><i class="fa fa-pie-chart fa-lg"></i> Informes <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="informes">
                  <li><a href="/informes">Transacciones</a></li>
                  <li><a href="/dondeva">Dónde va el dinero</a></li>
                  <li><a href="/dondeviene">De dónde viene el dinero</a></li>
                </ul>
            </ul>
     </div>
</div>

   <div class="control" id="bodycontent">
      {% block bodycontent %}
           <div class="container">
             <div class="row">
               <div class="col-xs-4">
                 <div class="form-group">
                   <h2>Cuentas Activas</h2>
                   <table class="table table-bordered">
                     <tr class="active">
                       <th>Cuenta</th>
                       <th>Saldo</th>
                     </tr>
                     <tbody>
                       {%for res in cuentas:%}
                         <tr>
                           <td class="title" title="{{ res.Nombre }}">{{ res.Nombre }}</td>
                           <td class="title" title="{{ res.Nombre }}">{{ "${:,.2f}".format(res.Saldo) }}</td>
                         </tr>
                       {%endfor%}
                     </tbody>
                     </table>
                 </div>
               </div>
               <div style="width: 30%">
           			<canvas id="canvas" height="450" width="600"></canvas>
           		</div>
             </div>
           </div>
           <script>
         	var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

         	var barChartData = {
         		labels : ["Ingresos","Egresos"],
         		datasets : [
         			{
                fillColor : "rgba(151,187,205,0.5)",
        				strokeColor : "rgba(151,187,205,0.8)",
        				highlightFill : "rgba(151,187,205,0.75)",
        				highlightStroke : "rgba(151,187,205,1)",
         				data : [{{ingreso}},{{egreso}}]
         			}
         		]

         	}
         	window.onload = function(){
         		var ctx = document.getElementById("canvas").getContext("2d");
         		window.myBar = new Chart(ctx).Bar(barChartData, {
         			responsive : true
         		});
         	}

         	</script>
      {% endblock %}
   </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <!-- <script src="js/jquery.validate.min.js"></script> -->
  <!-- <script src="js/libreria.js"></script> -->
 </body>
</html>
