<html>
 <head>
   <title>
      {% block title %}Control Escolar{% endblock %}
   </title>
   <style media="screen">
   #form{
     border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 5px double #8a8a8a;
    background-color: #141414;
   }
   footer{
     text-align: center;
     font-size: 8p;
   }
   </style>
   <!-- <link rel="stylesheet" type="text/css" href="/static/estilo.css"> -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/estilos.css">
   <link rel="stylesheet" href="css/bootstrap-theme.min.css">
   <!-- <script scr="js/jquery.js"></script> -->
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
   <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
 </head>

 <body>
   <div id="bodycontent">
      {% block bodycontent %}
      <div class="row">
        <div class="col-md-3 col-md-offset-3" >
          <img src="/img/tec.png" alt="" width="90" height="90" class="pull-right"/>
        </div>
        <div class="col-md-3">
          <h1 class="pull-left">CEATyP</h1>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 col-md-offset-3" id="form">
          <div class="text-center" style="padding:50px 0">
           <div class="logo">Inicio de Sesión</div>
           <!-- Main Form -->
           <div class="login-form-1">
             <form id="login-form" class="text-left" action="/" method="POST">
               <div class="login-form-main-message"></div>
               <div class="main-login-form">
                 <div class="login-group">
                   <div class="form-group">
                     <label for="lg_username" class="sr-only">Usuario</label>
                     <input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="Correo">
                   </div>
                   <div class="form-group">
                     <label for="lg_password" class="sr-only">Contraseña</label>
                     <input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="Contraseña">
                   </div>
                 </div>
                 <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
               </div>
               <div class="etc-login-form">
                 <p>¿Nuevo usuario? <a href="/register">Crea una nueva cuenta</a></p>
               </div>
             </form>
           </div>
           <!-- end:Main Form -->
          </div>
        </div>
      {% endblock %}
   </div>
   <footer>

		<p>© 2015 CEATyP. Todos los derechos reservados. <a href="/contacto">Soporte y contacto</a> 0.0067</p>
		<p>187.204.107.60</p>

	</footer>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <!-- <script src="js/jquery.validate.min.js"></script> -->
  <!-- <script src="js/libreria.js"></script> -->
 </body>
</html>
