{% extends "_basecuenta.html" %}
{% set active_page = "datos" %}
{% block bodycontent %}
<div class="container">
  <h2>De dónde viene el dinero</h2>
  <h3>Todo el tiempo</h3>

  <div class="col-xs-7">
    <div id="canvas-holder">
      <canvas id="chart-area" width="300" height="300"/>
    </div>
  </div>
</div>

  <script>

    var pieData = [
      {% for ingre in ingreso %}
        {
          value: {{ingre.Ingreso }},
          color: "#46BFBD",
					highlight: "#5AD3D1",
          label: "{{ ingre.Categoria }}"
        },
        {% endfor %}

      ];

      window.onload = function(){
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myPie = new Chart(ctx).Pie(pieData);
      };



  </script>
  </div>
</div>
{% endblock %}
