{% extends "_base.html" %}
{% set active_page = "datos" %}
{% block bodycontent %}
<div class="container">
    <table class="table table-bordered">
			<tr class="active">
				<th>Nombre</th>
				<th>Nota</th>
				<th>Fecha de Entrega</th>
        <th></th>
			</tr>
			<tbody>
        {% for task in tasks %}
        <tr {% if task.status == "completed" %}class="success"{% endif %}>
          <td class="title" title="{{ task.title }}">{{ task.title_short }}</td>
          <td class="title" title="{{ task.title }}">{{ task.notes }}</td>
          <td class="title" title="{{ task.title }}">{{ task.due }}</td>
          <td>
						<a class='btn btn-warning btn-md' role='button' href='/taream?idtask={{task.id}}'><spam class='glyphicon glyphicon-pencil' aria-hiden='true'</spam></a>
						<a class='btn btn-danger btn-md' role='button' href='/tareab?idtask={{task.id}}'><spam class='glyphicon glyphicon-trash' aria-hiden='true'</spam></a>
					</td>
        </tr>
        {% endfor %}
			</tbody>
		</table>
  <!-- <div class="jumbo">
    <p>{{response}}</p>
  </div> -->
</div>
{% endblock %}
